.svgGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 625px;
}

.containerSvg {
    display: flex;
    align-items: center;
    .fondSvg {
        width: fit-content;
        padding: 1em;
        margin: 1em;
        border-radius: 5px;
    }
    .fontSvg {
        color: black;
        padding: 1em;
        p:nth-child(1) {
            font-weight: bold;
            font-size: 1.2em;
            color: black;
        }
    }
}

.FondSvg {
    width: 300px;
    height: 124px;
    padding: 0;
    color: #FF0000;
    display: flex;
    justify-content: center;
}