.main {
    margin: 8em 2em 0em 2em;
}

.Welcome {
    font-size: 42px;
    font-weight: 500;
}

.red {
    color: #E60000;
}

.para {
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.grid1 { grid-area: 1 / 1 / 2 / 4; width: fit-content; height: fit-content; margin-bottom: 2em; }
.grid2 { grid-area: 1 / 4 / 4 / 5; width: fit-content; height: fit-content; }
.grid3 { grid-area: 2 / 3 / 2 / 4; width: fit-content; height: fit-content; }
.grid4 { grid-area: 2 / 1 / 2 / 2; width: fit-content; height: fit-content; }
.grid5 { grid-area: 2 / 2 / 2 / 4; width: fit-content; height: fit-content; }